* text=auto eol=lf
*.ps1 text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf

# Enforce LF — 2025-09-04T23:54:31
*.md  text eol=lf

* text=auto
*.ps1 text eol=crlf
*.bat text eol=crlf
*.sh  text eol=lf


