*.md    text=auto eol=lf working-tree-encoding=UTF-8
*.txt   text=auto eol=lf working-tree-encoding=UTF-8
*.yml   text=auto eol=lf working-tree-encoding=UTF-8
*.yaml  text=auto eol=lf working-tree-encoding=UTF-8
*.ps1   text=auto eol=lf working-tree-encoding=UTF-8
