name: secret-listener-gitleaks
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - ".github/labeler.yml"
      - ".github/workflows/pr-labeler.yml"
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: gitleaks scan
        uses: gitleaks/gitleaks-action@v2
        with:
          args: detect --no-banner --redact
